.userTable {
    width: 60%;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.userTable table {
    width: 100%;
    margin-top: 30px;
}

.userTable table thead th {
    background-color: rgb(64, 153, 5);
    color: white;
}

.userTable table tbody td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.action-btn button {
    margin: 0 10px;
}